<h2><%= island.name %></h2>
<div class="map-popup" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_tag island.photo.key, height: 50, width: 50, crop: :fill %>)">
<%# <p><%= island.location %></p>
</div>
