<h1> Find your Paradise </h1>

<% @islands.each do |island| %>
  <ul>
    <li>
      <%= link_to island.name, island_path(island)  %>
      <p><%= island.name %></p>
    </li>
  </ul>
<% end %>


<%= link_to 'New island', new_island_path, class: "btn btn-primary m-2" %>
