// Specific CSS for your home-page
.background-image {
  background: url("islebnb1.jpeg");
  // background-repeat: no-repeat;
  background-size: auto;
  // background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
}

.btn-paradise {
  display:block;
  display:center;
  // width: 840px;
  height: 160px;
  // padding: 8px 24px;
  border-radius: 20px;
  background: #E5E5E5;
  // opacity: 80%;
  color: white;
  margin-bottom: 48px;
  margin-top: 88px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  text-decoration: none;
  padding-top: 48px;
  background: rgba(204, 204, 204, 0.8);
  transition: .3s;
}

.btn-paradise:hover {
  // color: grey;
  color: rgb(11, 123, 138);
  text-decoration: none;
  box-shadow:

  0 0 15px rgb(226, 231, 231),
  0 0 15px rgb(63, 190, 207),
  0 0 15px rgb(98, 190, 202),
  0 0 15px rgb(115, 192, 202),
  0 0 15px rgb(157, 199, 204);
  transform: scale(1.0);

}

// .btn-paradise:link {
//   color: black;
//   background-color: transparent;
//   text-decoration: none;
// }

.btn-sign-up {
  display:block;
  // width: 840px;
  height: 160px;
  // padding: 8px 24px;
  border-radius: 20px;
  background: #E5E5E5;
  // opacity: 80%;
  color: white;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  text-decoration: none;
  padding-top:48px;
  background: rgba(204, 204, 204, 0.8);
  transition: .3s;
}

.btn-sign-up:hover {
  // color: grey;
  color: rgb(11, 123, 138);

  text-decoration: none;
  box-shadow:
  0 0 15px rgb(226, 231, 231),
  0 0 15px rgb(63, 190, 207),
  0 0 15px rgb(98, 190, 202),
  0 0 15px rgb(115, 192, 202),
  0 0 15px rgb(157, 199, 204);
  transform: scale(1.0);
}

.homepage-title h1 {
  color: white;
  text-align: center;
  padding-bottom: 36px;
  font-size: 64px;
  font-family: 'Courgette', cursive;
}

.container {
  display:block;
}

.homepage-description {
  font-weight: bold;
  color: white;
  text-align: center;
  font-size: 24px;
  padding-top: 8px
}
