  <body class="background-image">
    <div class="container">
      <div class="row justify-content-center">
       <div class="col-lg-6 col-lg-6">
      <%= link_to 'Find the Perfect Getaway', islands_path, class: "btn-paradise" %>
      <%= link_to 'Become a host', new_island_path, class: "btn-sign-up" %>
    </div>
  </body>
