<body class="background-image-homepage">
  <div class= container-home>
    <div class="homepage-title">
      <h1> Islebnb </h1>
    </div>

    <div class= "homepage-description">
      <p> Why rent a villa when you can experience the luxury of your own private island? </p>
      <p> Book an island with ease for your next party, event, or vacation! </p>
    </div>
    <div class="hpcontainer">
      <div class="hplink">
        <%= link_to 'Find your Perfect Getaway', islands_path, class: "btn-paradise" %>
      </div>
    </div>
  </div>
</body>

    <%# <div class="container">
      <div class="row justify-content-center">
       <div class="col-lg-6 col-lg-6">
    <%= link_to 'Become a Host', new_island_path, class: "btn-sign-up" %>

    <%# </div> %>
