.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;

}


.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 350px;
  margin: 10px;
  transition: .3s;

}

.card-trip-small{
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 250px;
  height: 200px;
  margin: 10px;
  transition: .3s;

}

.card-trip:hover {
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  box-shadow:
  0 0 15px rgb(226, 231, 231),
  0 0 15px rgb(63, 190, 207),
  0 0 15px rgb(98, 190, 202),
  0 0 15px rgb(115, 192, 202),
  0 0 15px rgb(157, 199, 204);
  transform: scale(1.03);
}

.card-trip-small:hover {
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  box-shadow:
  0 0 10px rgb(226, 231, 231),
  0 0 10px rgb(63, 190, 207),
  0 0 10px rgb(98, 190, 202),
  0 0 10px rgb(115, 192, 202),
  0 0 10px rgb(157, 199, 204);
  transform: scale(1.03);
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip-small > img {
  height: 100px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2, .card-trip-small h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-decoration: none;
}


.card-trip a, .booking-card-name p {
  text-decoration: none;
  color: black;
  font-family: 'Courgette', cursive;
}

.card-trip a:hover, .booking-card-name p:hover {
  text-decoration: none;
  color: rgb(63, 190, 207);
}

.card-trip p, .card-trip-small p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos, .card-trip-small .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user, .card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}


.map {
  height: 603px;
  width: 420px;
  margin: 5px;
  object-fit: cover;
  transition: .3s;
  background-color: transparent;
  border: 2px solid #1ebecf;
  border-radius: 5px;
}

.map:hover {
  box-shadow:
  0 0 10px rgb(226, 231, 231),
  0 0 10px rgb(63, 190, 207),
  0 0 10px rgb(98, 190, 202),
  0 0 10px rgb(115, 192, 202),
  0 0 10px rgb(157, 199, 204);
  transform: scale(1.03);
}

.index-card-container {
  object-fit: fill;
  background-color: transparent;
}

.map-container {
  object-fit: cover;
  background-color: transparent;
}

.map-photo {
  height: 600px;
  padding: 4px;

  background-color: transparent;
  object-fit: cover;
}

.page-title {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.page-title h1 {
  font-family: 'Courgette', cursive;
}
