  // backdrop-filter: blur(5px);

.login-background {
  height:500px;
  top: 0px;
  display: flex;
  justify-content: center;
}

.login-background::before {
  content: "";
  background-image: url("islandnewbg.jpg");
  background-size: cover;
  position: absolute;
  background-attachment: fixed;
  top: 90px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.8;
  background-repeat: no-repeat;
}

.login-center {
  margin-top: 60px;
  backdrop-filter: blur(10px);
  width: 600px;
  height: 500px;
  border-radius: 25px;
  box-shadow:
    0 0 10px rgb(174, 238, 238),
    0 0 10px rgb(63, 190, 207),
    0 0 10px rgb(98, 190, 202),
    0 0 10px rgb(115, 192, 202),
    0 0 10px rgb(0, 154, 171);
  transition: 0.2s;
}

.login-center:hover {
  box-shadow:
    0 0 15px rgb(236, 240, 240),
    0 0 15px rgb(63, 190, 207),
    0 0 15px rgb(98, 190, 202),
    0 0 15px rgb(115, 192, 202),
    0 0 15px rgb(157, 199, 204);
  transform: scale(1.03);
}


a {
  color: black;
}


.login-center h2 {
  text-align: center;
  opacity: 1;
  padding: 10px;
  color: white;
  font-size: 35px;
  font-family: courgette;
  font-size: 40px;
  padding-top: 35px;
}


.login-form {
  width:250px;
  margin: auto;
  height: 250px;
  top: 75px;
  color: black;
  text-align: center;
  font-size: 20px;
}


.btn-login {
  background-color: rgb(10, 158, 174);
  text-decoration: none;
  width: 160px;
  height: 40px;
  border-radius: 12px;
  color: #FFFFFF;
  margin-bottom: 5px;
  border: 1px solid rgb(7, 110, 121);
  }

  .btn-login:hover {
    background-color: rgba(10, 158, 174, 0.769);
    transition: 0.3s;
    background-color: rgb(10, 158, 174);
    text-decoration: none;
    box-shadow:
    0 0 5px rgb(226, 231, 231),
    0 0 5px rgb(63, 190, 207),
    0 0 5px rgb(98, 190, 202),
    0 0 5px rgb(115, 192, 202),
    0 0 5px rgb(157, 199, 204);
    transform: scale(1.03);
  }


  .links-login {
    margin: 20px;
    color: rgb(99, 99, 99);
    margin: 25px;
    font-size: 18px;
  }

  .links-login:hover {
    // text-decoration: none;
    color: rgb(75, 75, 75);
  }

  .input-box {
    padding-top:10px;
  }

  .form-inputs {
    padding-top: 10px;
  }

  .login-input-text {
    margin-top: 10px;
  }
