.navbar-lewagon {
  // justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 90px;
}

.navbar {
  display: flex;
  justify-content: space-between !important;
}

.navbar-nav {
  align-items: center;
}

.searchbar {
  border-radius: 40px;
  padding: 12px 40px;
  border: 1px solid #16A6B7;
  display: flex;
  justify-content: space-between;
  align-items: center !important;
  transition: .3s;
  width: 375px;

}

.searchbar:hover {
  box-shadow:
    0 0 14px rgb(226, 231, 231),
    0 0 20px rgb(63, 190, 207),
    0 0 30px rgb(98, 190, 202),
    0 0 60px rgb(115, 192, 202),
    0 0 100px rgb(157, 199, 204);
    transform: scale(1.02);
}

.btn-blue-search {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(10, 158, 174);
  text-decoration: none;
  width: 100px;
  height: 40px;
  border-radius: 12px;
  color: #F5F5F5;
  margin-bottom: 5px;
  border: 1px solid rgb(7, 110, 121);
}
