.navbar-lewagon {
  // justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
}

.navbar {
  display: flex;
  justify-content: space-between !important;
}

.navbar-nav {
  align-items: center;
}

.searchbar {
  border-radius: 40px;
  padding: 5px;
  padding-right: 10px;
  padding-left: 50px;

  border: 1px solid #16A6B7;
  display: flex;
  align-items: center !important;

}

.search {
  display: flex;
  align-items: center !important;
}

.search-input {
  padding-top: 15px;
}
