.background {
  height:2000px;
  top: 0px;
}

.background::before {
  content: "";
  background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) ), url("islandnewbg.jpg");
  background-size: cover;
  height:2000px;
  position: absolute;
  background-attachment: fixed;
  background-repeat: no-repeat;
  top: 90px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.9;
}

.center {
  display: center;
  margin-top: 75px;
  backdrop-filter: blur(10px);
  width: 700px;
  height: 600px;
  border-radius: 25px;
  box-shadow:
    0 0 5px rgb(174, 238, 238),
    0 0 15px rgb(63, 190, 207),
    0 0 30px rgb(98, 190, 202),
    0 0 45px rgb(115, 192, 202),
    0 0 60px rgb(0, 154, 171);
  transition: 0.2s;
}

.center:hover {
  box-shadow:
    0 0 20px rgb(236, 240, 240),
    0 0 26px rgb(63, 190, 207),
    0 0 40px rgb(98, 190, 202),
    0 0 60px rgb(115, 192, 202),
    0 0 80px rgb(157, 199, 204);
  transform: scale(1.05);
}

.center h2 {
  text-align: center;
  opacity: 1;
  padding: 10px;
  color: white;
  font-size: 35px;
  font-family: courgette;
  padding-top: 50px;
}

.booking-form h3 {
  opacity: 1;
  padding: 25px;
  color: white;
  font-weight: bold;
}

.page-title h2 {
  padding-top: 18px;
}

.booking-form {
  width:250px;
  margin: auto;
  height: 1000px;
  top: 75px;
  color: black;
  text-align: center;
}

.form-inputs { color: black;
  margin: 20px;
  display: block;
  float: left;
  font-family: arial;
  font-size: 16px;
}

.btn-book {
  background-color:rgb(10, 157, 174);
  color: white;
  border: 1px solid rgb(7, 110, 121);
  border-radius: 12px;
  margin: 25px;
  margin-bottom: 40px;
  height: 60px;
  width: 200px;
  font-weight: bolder;
  }

.btn-book:hover {
  background-color: rgba(10, 158, 174, 0.769);
  transition: 0.2s;
    box-shadow:
    0 0 15px rgb(236, 240, 240),
    0 0 15px rgb(63, 190, 207),
    0 0 15px rgb(98, 190, 202),
    0 0 15px rgb(115, 192, 202),
    0 0 15px rgb(157, 199, 204);
  transform: scale(1.05);
}

label {
  display: inline-block;
  color: white;
  font-weight: bold;
}
