.background-image-new-island {
  height:800px;
  display: flex;
  justify-content: center;
}

.background-image-new-island::before {
  content: "";
  background-image: url("islandnewbg.jpg");
  background-size: cover;
  position: absolute;
  background-attachment: fixed;
  height:950px;
  top: 90px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.9;
  background-repeat: no-repeat;
}


.container-new-island{
  display: flex;
  justify-content: center;
  height: 800px;
}

.container-new-island-inner{
  display: center;
  color: #FFFFFF;
  top: 100px;
  backdrop-filter: blur(10px);
  justify-content: center;
  width: 700px;
  border-radius: 25px;;
  height: 800px;
  text-align: center;
  color:rgb(7, 110, 121);
  transition: 0.2s;
  margin-top: 30px;
  box-shadow:
    0 0 10px rgb(174, 238, 238),
    0 0 10px rgb(63, 190, 207),
    0 0 10px rgb(98, 190, 202),
    0 0 10px rgb(115, 192, 202),
    0 0 10px rgb(0, 154, 171);
  transition: 0.2s;
}

.container-new-island-inner:hover {
  box-shadow:
    0 0 15px rgb(236, 240, 240),
    0 0 15px rgb(63, 190, 207),
    0 0 15px rgb(98, 190, 202),
    0 0 15px rgb(115, 192, 202),
    0 0 15px rgb(157, 199, 204);
  transform: scale(1.03);
}


.container-new-island-inner h2 {
  text-align: center;
  opacity: 1;
  padding: 10px;
  color: white;
  font-size: 35px;
  font-family: courgette;
  padding-top: 30px;
}

.island_name {
  color: #e7f8fa;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  // border-radius: 7px;
}

.island_location {
  color: #e7f8fa;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.island_description {
  color: #e7f8fa;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.island_availability {
  color: #e7f8fa;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.island_photo {
  color: #e7f8fa;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.island_price {
  color: #e7f8fa;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center !important;
}

.island_price {
  color: #e7f8fa;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center !important;
}

.new-island-btn {
  background-color: rgb(10, 158, 174);
  text-decoration: none;
  font-weight: bolder;
  width: 200px;
  height: 60px;
  border-radius: 12px;
  color: #FFFFFF;
  margin: auto;
  margin-top: 40px;
  border: 1px solid rgb(7, 110, 121);
  }

  .new-island-btn:hover {
    background-color: rgba(10, 158, 174, 0.769);
    transition: 0.3s;
    background-color: rgb(10, 158, 174);
    text-decoration: none;
    box-shadow:
    0 0 10px rgb(226, 231, 231),
    0 0 10px rgb(63, 190, 207),
    0 0 10px rgb(98, 190, 202),
    0 0 10px rgb(115, 192, 202),
    0 0 10px rgb(157, 199, 204);
    transform: scale(1.03);
  }

.form-control-file {
  width: 36%;
}
