// @import "card";
// @import "profilebooking"

.container-bookings {
  object-fit: cover;
  display: flex;
  justify-content: center;
}

.profile-background-image {
  background-image:
    linear-gradient(to bottom, rgba(0,0,0,0.1),rgba(0,0,0,0.1)),
    url("sand-background.jpg");
  // background-repeat: no-repeat;
  background-size: auto;
  // background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  // opacity: 0.3;
}

h3 {
  font-family: Courgette;
}
// .container-bookings-inner {
//   object-fit: cover;
// }

// .container-bookings h3 {
//   display: flex;
//   justify-content: center;
//   margin-left: 210px;
// }

// .container-bookings-inner .card-trip {
//   object-fit: fill;
// }

// .booking-card-info {
//   display: flex;
//   // justify-content: space-around;
// }
