// @import "card";
// @import "profilebooking"

.container-bookings {
  object-fit: cover;
  display: flex;
  justify-content: center;
}

.profile-background-image {
  background-image:
    linear-gradient(to bottom, rgba(0,0,0,0.1),rgba(0,0,0,0.1)),
    url("sand-background.jpg");
  // background-repeat: no-repeat;
  background-size: auto;
  // background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  // opacity: 0.3;
  // height: 100vh;
}

.profile-heading h3 {
  font-family: Courgette;
  color: white;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
  margin-bottom: 24px
}

.profile-heading-bottom h3 {
  font-family: Courgette;
  color: white;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
  margin-bottom: 24px;
  margin-top: 24px
}

.page-title h2 {
  font-family: Courgette;
  color: white;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
}

.profile-card-trip-small-rounded {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 8px;
  transition: 0.3s;
}

.profile-card-trip-small-rounded:hover {
   box-shadow:
  0 0 15px rgb(226, 231, 231),
  0 0 15px rgb(63, 190, 207),
  0 0 15px rgb(98, 190, 202),
  0 0 15px rgb(115, 192, 202),
  0 0 15px rgb(157, 199, 204);
  transform: scale(1.03);
}

.profile-card-trip-small-rounded > img {
  height: 100%;
  width: 160px;
  object-fit: cover;
}

.profile-card-trip-small-rounded .profile-card-trips-infos {
  // padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  transition: 0.3s;

}

.profile-card-trip-small-rounded h4 a {
  text-decoration: none;
  color: black;
  font-family: 'Courgette', cursive;
  text-align: left;
  padding-left: 8px;
  display: flex;
  align-items: flex-end;
  position: relative;
  transition: 0.3s;
}

.profile-card-trip-small-rounded:hover h4 a {
  text-decoration: none;
  color: rgb(63, 190, 207);
}

.profile-card-trip-small-rounded p {
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  padding-left: 8px;
  opacity: 0.7;
  display: flex;
  align-items: flex-end;
  position: relative;
}

.profile-card-trip-small-rounded .profile-booking-card-name {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}


.profile-booking-card-name {
  flex-direction: column;
  padding-right: 50px;
}


.profile-island-card-info {
  display: flex;
  width: 100%;
  justify-content: space-between

}

.profile-island-card-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.profile-island-card-description {
  width: 60%;
  display: flex;
  align-items: center;
}

.booking-cards-text {
  width: 100%;
  display: flex;
  justify-content: space-between


}
